# DAT210x Programming with Python for Data Science
<a href = "https://courses.edx.org/courses/course-v1:Microsoft+DAT210x+4T2016/info"> EDX online course</a>

In [3]:
# imports

import pandas as pd
from sqlalchemy import create_engine

# 1. manipulating the data

## 1.1 load the data

from a sqlite engine:

    engine = create_engine('sqlite:///:memory:')
    df = pd.read_sql_table('my_table', engine, columns=['ColA', 'ColB'])

from files:

    df = pd.read_excel('my_dataset.xlsx', 'sheet1', na_values=['NA'])
    df = pd.read_json('my_dataset.json', orient='columns')
    df = pd.read_csv('my_dataset.csv')

## 1.2 write the data

    df.to_sql('table', engine)
    df.to_excel('dataset.xlsx')
    df.to_json('dataset.json')
    df.to_csv('dataset.csv')
    
## 1.3 some basic DF display

    print df.head(5)
    print df.tail(5)
    print df.describe()
    print df.columns

In [19]:
# load the tutorial dataset into a pandas dataframe

tutoDS_ff = r'C:\Users\ng35019\Documents\Training\python_for_ds\Module2\Datasets\tutorial.csv' 
df = pd.read_csv(tutoDS_ff)
df

       col0      col1      col2      col3
0 -0.722876 -1.330682  1.309208  0.232378
1  1.160396 -0.730879  0.677368  1.044722
2 -1.062870 -0.503704 -0.238536 -1.417937
3  0.437078  0.362640 -0.111228 -1.649853

## 1.4 Pandas DataFrame indexing reminder

|Command|Description|
|--|--|
|<code>df.col0</code>      |by DF attribute|
|<code>df['col0']</code>   |Serie by column name|
|<code>df[['col0','col2']]</code> |DataFrame by column name(s)|
|<code>df.loc[:, 'col0']</code>   |Serie by index and column name|
|<code>df.loc[:, ['col0','col2']]</code> |DataFrame by index and column name(s)|
|<code>df.iloc[0:2, 0]</code>   |Serie by index and column index|
|<code>df.iloc[0:2, [0,1,2]]</code> |DataFrame by index and column index(es)|
|<code>df.ix[0:2,['col0','col2']]</code>   |DataFrame by index and column index(es) or name|

## 1.4 Feature Representation

### 1.4.1 handle categorical features with ordering (categorical)

In [20]:
# 

ordered_satisfaction = ['Very Unhappy', 'Unhappy', 'Neutral', 'Happy', 'Very Happy']
df = pd.DataFrame({'satisfaction':['Mad', 'Happy', 'Unhappy', 'Neutral']}) 
df

  satisfaction
0          Mad
1        Happy
2      Unhappy
3      Neutral

In [21]:
df.satisfaction = df.satisfaction.astype("category", ordered=True, categories=ordered_satisfaction).cat.codes
df

   satisfaction
0            -1
1             3
2             1
3             2

### 1.4.2 methods to handle categorical features without ordering (nomical):

#### method 1 - encode by alphabetical order

In [23]:

df = pd.DataFrame({'vertebrates':['Bird','Bird','Mammal','Fish','Amphibian','Reptile','Mammal',]})
df['vertebrates'] = df.vertebrates.astype("category").cat.codes
df

   vertebrates
0            1
1            1
2            3
3            2
4            0
5            4
6            3

#### method 2 - explosion in individual boolean features

In [27]:
df = pd.DataFrame({'vertebrates':['Bird','Bird','Mammal','Fish','Amphibian','Reptile','Mammal',]})
df = pd.get_dummies(df, columns = ['vertebrates'])
df

,vertebrates_Amphibian,vertebrates_Bird,vertebrates_Fish,vertebrates_Mammal,vertebrates_Reptile
0,0,1,0,0,0
1,0,1,0,0,0
2,0,0,0,1,0
3,0,0,1,0,0
4,1,0,0,0,0
5,0,0,0,0,1
6,0,0,0,1,0

### 1.4.3 handle textual features, bag of words

In [33]:
from sklearn.feature_extraction.text import CountVectorizer

corpus = [
        "Authman ran faster than Harry because he is an athlete",
        "Authman and Harry ran faster and faster"
]

bow = CountVectorizer()
X = bow.fit_transform(corpus)

print('features names:\n')
print(bow.get_feature_names())

print('\ncorpus transformation array:\n')
print(X.toarray())

features names:

['an', 'and', 'athlete', 'authman', 'because', 'faster', 'harry', 'he', 'is', 'ran', 'than']

corpus transformation array:

[[1 0 1 1 1 1 1 1 1 1 1]
 [0 2 0 1 0 2 1 0 0 1 0]]

### 1.4.4 handle image

In [34]:
# import scipy: generic scientifical library

from scipy import misc

In [51]:
image_ff = r'C:\Users\ng35019\Pictures\Calvin_Hobbes\calvin-and-hobbes-procrastination.png'

img = misc.imread(image_ff)

print("img type : {}".format(type(img)))
print("img shape: {} , img dtype: {}".format(img.shape, img.dtype))

# shrink image down for faster computing
img = img[::2, ::2]

# scla the scolor form 0-255 to 0-1, reshape to a 1D array
img = (img / 255.0).reshape(-1, 3)

red   = img[:,0]
green = img[:,1]
blue  = img[:,2]

# gray scale
gray = (0.299*red + 0.587*green  + 0.114*blue)

print("img shape : {}".format(img.shape))
print("grey shape: {}".format(gray.shape))

img type : <class 'numpy.ndarray'>
img shape: (286, 903, 3) , img dtype: uint8
img shape : (64636, 3)
grey shape: (64636,)

## 1.5 Wrangle the data

### 1.5.1 Handle the holes

|Command|Description|
|--|--|
|<code>df.Unemployed.isnull()</code>|search ALL null values|
|<code>df.notnull()</code>|search ALL not null values|
|<code>df.fillna(0)</code>|replace ALL null values by 0|
|<code>df.my_feature.fillna(0)</code>|replace a specific feature null values by 0|
|<code>df.fillna(method='ffill', limit=1)</code>|forward fill null values|
|<code>df.fillna(method='bfill', limit=1)</code>|backward fill null values|
|<code>df.fillna(limit=5)</code>|set fill limit to 5|
|<code>df.interpolate(method='polynomial', order=2)</code>|interpolate between values (also: nearest, cubic, spline,...)|
|<code>df.dropna(axis=0,thresh=4)</code>|drop all rows with more than 4 NaNs|
|<code>df.dropna(axis=1)</code>|drop all columns with holes (NOT recommanded!)|
|<code>df.drop_duplicates(subset=['Major_category','Total'].reset_index())</code>|drop duplicates and reset index|

### 1.5.2 handle the data types

|Command|Description|
|--|--|
|<code>pd.to_datetime(df.Date, errors='coerce')</code>|convert columns values to datetime, enter NaN for errors|
|<code>pd.to_timedelta(df.Date, errors='coerce')</code>|convert columns values to time delta|
|<code>pd.to_numeric(df.Height, errors='coerce')</code>|convert columns values to numeric|

### 1.5.3 explore the dataset

|Command|Description|
|--|--|
|<code></code>||
|<code>df.a_feature.unique())</code>|Show unique values of a column|
|<code>df.a_feature.value_counts())</code>|Show values occurences of a column|